# Copy this file to docker-compose.yaml and adjust as needed
# dont forget to create port proxy and add firewall rule if running local on WSL so other device can access on same network 

services:

  app:
    build:
      context: .
      dockerfile: DockerFile
    container_name: polislot_admin_app
    restart: unless-stopped
    ports:
      - "0.0.0.0:8000:80" # port host : port container
    volumes:
      # Mount semua kode proyek
      - ./:/var/www/html
      # Mount file .env khusus untuk Docker
      - ./.env.docker:/var/www/html/.env
      # Gunakan named volume untuk vendor
      # Ini akan "mengisolasi" folder-folder ini dari komputer host Anda
      - vendor_data:/var/www/html/vendor
      - ./storage/app/public:/var/www/html/public/storage
    depends_on:
      - db
    networks:
      - polislot_admin_net
    env_file:
      - .env.docker
    command: >
      sh -c "chown -R www-data:www-data storage bootstrap/cache &&
             chmod -R 775 storage bootstrap/cache &&
             mkdir -p storage/logs/mariadb &&
             chown -R 999:999 storage/logs/mariadb &&
             chmod 755 storage/logs/mariadb &&
             apache2-foreground"
  
  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: polislot_tunnel
    restart: unless-stopped
    command: tunnel run
    env_file:
      - .env.docker
    networks:
      - polislot_admin_net

  db:
    image: mariadb:latest
    container_name: polislot_admin_db
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: 'IVON_PD12'
    volumes:
      - dbdata:/var/lib/mysql
      - ./docker/mariadb.cnf:/etc/mysql/conf.d/logging.cnf:ro
      - ./storage/logs/mariadb:/var/log/mysql
    ports:
      - "127.0.0.1:3307:3306"
    networks:
      - polislot_admin_net

  scheduler:
    build:
      context: .
      dockerfile: DockerFile
    container_name: polislot_admin_scheduler
    command: php artisan schedule:work
    volumes:
      - ./:/var/www/html
      - ./.env.docker:/var/www/html/.env
      - vendor_data:/var/www/html/vendor
      - ./storage/app/public:/var/www/html/public/storage
    depends_on:
      - db
    restart: always
    networks:
      - polislot_admin_net

networks:
  polislot_admin_net:
    driver: bridge

volumes:
  dbdata:
    driver: local
  vendor_data:
    driver: local