# Copy this file to docker-compose.yaml and adjust as needed
# dont forget to create port proxy and add firewall rule if running local on WSL so other device can access on same network 

services:

  app:
    build:
      context: .
      dockerfile: DockerFile
    container_name: polislot_admin_app
    restart: unless-stopped
    ports:
      - "0.0.0.0:8000:80" # port host : port container
    volumes:
      # Mount semua kode proyek
      - ./:/var/www/html
      # Mount file .env khusus untuk Docker
      - ./.env.docker:/var/www/html/.env
      # Gunakan named volume untuk vendor
      # Ini akan "mengisolasi" folder-folder ini dari komputer host Anda
      - vendor_data:/var/www/html/vendor
      - ./storage/app/public:/var/www/html/public/storage
    depends_on:
      - db
    networks:
      - polislot_admin_net
    env_file:
      - .env.docker

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: polislot_tunnel
    restart: unless-stopped
    command: tunnel run
    env_file:
      - .env.docker
    networks:
      - polislot_admin_net

  db:
    image: mariadb:12.0
    container_name: polislot_admin_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ''
    volumes:
      - dbdata:/var/lib/mysql
      - ./docker/mariadb.cnf:/etc/mysql/conf.d/logging.cnf:ro
      - ./storage/logs/mariadb:/var/log/mysql
    entrypoint:
      - sh
      - -c
      - |
        
        mkdir -p /var/log/mysql
        
        touch /var/log/mysql/server-audit.log
        touch /var/log/mysql/general.log
        touch /var/log/mysql/slow-queries.log
        
        chown -R mysql:mysql /var/log/mysql
        chmod 755 /var/log/mysql
        chmod 664 /var/log/mysql/*.log
              
        exec /usr/local/bin/docker-entrypoint.sh mariadbd
    ports:
      - "0.0.0.0:3307:3306"
    networks:
      - polislot_admin_net

  scheduler:
    build:
      context: .
      dockerfile: DockerFile
    container_name: polislot_admin_scheduler
    command: php artisan schedule:work
    volumes:
      - ./:/var/www/html
      - ./.env.docker:/var/www/html/.env
      - vendor_data:/var/www/html/vendor
      - ./storage/app/public:/var/www/html/public/storage
    depends_on:
      - db
    restart: always
    networks:
      - polislot_admin_net

networks:
  polislot_admin_net:
    driver: bridge

volumes:
  dbdata:
    driver: local
  vendor_data:
    driver: local