# Copy this file to docker-compose.yaml and adjust as needed
services:
  setup:
      image: alpine:latest
      container_name: polislot_setup
      command: >
        sh -c "mkdir -p /work/storage/logs/mariadb &&
              touch /work/storage/logs/mariadb/general.log &&
              touch /work/storage/logs/mariadb/slow-queries.log &&
              touch /work/storage/logs/mariadb/server-audit.log &&
              chown -R 999:999 /work/storage/logs/mariadb &&
              chmod -R 755 /work/storage/logs/mariadb &&
              chmod 644 /work/storage/logs/mariadb/*.log"
      volumes:
        - .:/work

  app:
    build:
      context: .
      dockerfile: DockerFile
    container_name: polislot_admin_app
    restart: unless-stopped
    ports:
      - "192.168.137.1:8001:80" # port host : port container
    volumes:
      # Mount semua kode proyek
      - ./:/var/www/html
      # Mount file .env khusus untuk Docker
      - ./.env.docker:/var/www/html/.env
      # Gunakan named volume untuk vendor
      # Ini akan "mengisolasi" folder-folder ini dari komputer host Anda
      - vendor_data:/var/www/html/vendor
      - ./storage/app/public:/var/www/html/public/storage
    depends_on:
      - db
    networks:
      - polislot_admin_net
    env_file:
      - .env.docker

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: polislot_tunnel
    restart: unless-stopped
    command: tunnel run
    env_file:
      - .env.docker
    networks:
      - polislot_admin_net

  db:
    image: mariadb:12.0
    container_name: polislot_admin_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ''
    volumes:
      - dbdata:/var/lib/mysql
      - ./mariadb.cnf:/etc/mysql/conf.d/logging.cnf:ro
      - ./storage/logs/mariadb:/var/log/mysql
    depends_on:
      setup:
        condition: service_completed_successfully
    ports:
      - "192.168.137.1:3307:3306"
    networks:
      - polislot_admin_net

  scheduler:
    build:
      context: .
      dockerfile: DockerFile
    container_name: polislot_admin_scheduler
    command: php artisan schedule:work
    volumes:
      - ./:/var/www/html
      - ./.env.docker:/var/www/html/.env
      - vendor_data:/var/www/html/vendor
      - ./storage/app/public:/var/www/html/public/storage
    depends_on:
      - db
    restart: always
    networks:
      - polislot_admin_net

networks:
  polislot_admin_net:
    driver: bridge

volumes:
  dbdata:
    driver: local
  vendor_data:
    driver: local