/path/to/your/project/storage/logs/mariadb/*.log {

    # Memberitahu logrotate untuk tetap jalan sebagai root
    su root root

    # Rotasi dilakukan harian
    daily

    # Simpan 2 file backup terakhir
    rotate 2

    # Jika ukuran file tembus 40MB sebelum sehari, rotasi langsung
    size 40M

    # Jika file log tidak ada, jangan error (lanjut aja)
    missingok

    # Jika file log kosong, jangan dirotasi
    notifempty

    # Kompres log lama (format .gz) agar hemat tempat
    compress

    # Tunda kompresi 1 siklus (agar log kemarin masih bisa dibaca text biasa)
    delaycompress

    # menyalin isi log ke file baru, lalu MENGOSONGKAN file asli.
    copytruncate

    create 644 root root

    sharedscripts
    lastaction
        # 1. Pastikan folder induk milik 999
        chown -R 999:999 /path/to/your/project/storage/logs/mariadb
        chmod 755 /path/to/your/project/storage/logs/mariadb
        
        # 2. Ubah file log (termasuk yang baru dibuat root tadi) jadi milik 999
        find /path/to/your/project/storage/logs/mariadb -type f -name "*.log*" -exec chown 999:999 {} +

        # 3. Pastikan permission tetap 644 (Readable)
        find /path/to/your/project/storage/logs/mariadb -type f -name "*.log*" -exec chmod 644 {} +
    endscript
}
