/home/<namauser>/<path-project>/storage/logs/mariadb/*.log {

    # Memberitahu logrotate untuk tetap jalan sebagai root
    su root root

    # Rotasi dilakukan harian
    daily

    # Simpan 2 file backup terakhir
    rotate 2

    # Jika ukuran file tembus 40MB sebelum sehari, rotasi langsung
    size 40M

    # Jika file log tidak ada, jangan error (lanjut aja)
    missingok

    # Jika file log kosong, jangan dirotasi
    notifempty

    # Kompres log lama (format .gz) agar hemat tempat
    compress

    # Tunda kompresi 1 siklus (agar log kemarin masih bisa dibaca text biasa)
    delaycompress

    # menyalin isi log ke file baru, lalu MENGOSONGKAN file asli.
    copytruncate

    sharedscripts
    lastaction
        # Paksa ubah owner semua file log menjadi user mysql (termasuk hasil rotasi) jadi 999:999
        # chown lewat command line BISA baca angka 999
        chown -R 999:999 /home/<namauser>/<path-project>/storage/logs/mariadb
        
        # Pastikan permission file 644 (Bisa dibaca User Host, tapi Write hanya user owner mysql)
        find /home/<namauser>/<path-project>/storage/logs/mariadb -type f -name "*.log*" -exec chmod 644 {} +
    endscript
}
